extends layout

block subcontent
  h1= title
  p welcome to the About Me page 
  p I am a senior Software engineering major at Quinnipiac University
  p I am also very involved with Quinnipiac's theater events and shows 
  p I also do martial arts (okinawan karate) and a little Wing Chun
  p thank you for reading! 
    
  p | Link to 
    a(href='/ndvazquez') Home Page
