extends layout

block subcontent

  h1= title
  p Welcome to #{title}
    p | Link to About Me page
    a(href='/ndvazquez/aboutme') About Me Page
    p | Link to Home Page
    a(href='/') Home Page
    p here's a squirrel
    img(src="images/squirrel.jpg",alt="My Image")
    p here's where I got the background image
    a(href='https://wallpaperbat.com/img/272544-rottweiler-puppy-grass-walkhd-dog-wallpaper.jpg') Click Here to see just the image


    