extends ../layout

block append head
    link(rel='stylesheet', href='/stylesheets/' + username + '.css')

block content
    div#header Welcome to my page
    block subcontent
    div#footer This is my footer and above is my header