extends layout

block subcontent
    div.contaier
        h1 About Ashley Mills!

        p Welcome! 
        p 
        a(href="/amills1") Want to go back? Press me!
        p  Here are some links to some of my hobbies and things that I like.
        p
        p This first link is to my crystal store in West Haven, CT. They are wonderful people and have stones/crystals if that intrests you!
        a(href="https://www.stardustblessingsmetaphysical.com/shop/ols/all" target="_blank") Crystals
        p The second link is to the school that I attend! Quinnipiac is where I spend the last 3 years of my life trying to learn code. This is a big part of who I am. 
        p 
        a(href="https://www.qu.edu/schools/engineering/programs/bachelors-degree/ba-bs-in-computer-science/" target="_blank") Quinnipiac University