extends layout

block subcontent
    div.contaier
        h1 About me!

        p Welcome to Amanda's self description! 
        p 
        a(href="/agil") Didnt mean to click go back now
        p  My name is Amanda and I have two dogs and turtles and I live in New York. I just recently got my learners permit. I know its crazy cause I am 21 but hey I never needed to drive. 